@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic'), url('./font/nanum/NanumGothic.woff2') format('woff2');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url('./font//nanum/NanumGothic Bold.woff2') format('woff2');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'), url('./font//nanum/NanumGothic ExtraBold.woff2') format('woff2');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}