{
    "USE_SINGLE_WEBVIEW": false,
    "USE_JAVASCRIPT_INTERFACE": true,
	"URL":{
		"LOGIN":"LGN/html/LGN0001.html",
		"MAIN" : ["MAN/html/MAN0001.html"]
	},
	"TITLEBAR" : {
		"TEXTCOLOR":"FFFFFF45",
		"BACKGROUNDCOLOR" : "FF645353",
		"VISIBLE" : false,
		"HEIGHT" : 44,
        "TEXTSIZE" : 22,
        "FIXLAYER": {
               "BBS001": {
                            "LEFT": [{
                                         "IMAGENAME": "common/images/btn_del.png",
                                         "CALLBACK": "page.left"
                            }, {
                                         "IMAGENAME": "common/images/btn_del.png",
                                         "CALLBACK": "page.left"
                            }],
                            "TEXTALIGN": "LEFT",
                            "TITLETEXT": "M1롯데정보통신",
                            "BACKGROUNDIMAGE": "common/images/bg.png",
                            "BACKGROUNDCOLOR": "FF645353",
                            "TEXTCOLOR": "FFFFFF45",
                            "VISIBLE": true,
                            "RIGHT": [{
                                         "IMAGENAME": "common/images/btn_del.png",
                                         "CALLBACK": "page.right"
                            }, {
                                         "IMAGENAME": "common/images/btn_del.png",
                                          "CALLBACK": "page.right"
                            }]

               }
 		}
		
	},
	"PROGRESS" : { 
  		"IMAGEPATH":""
	},
	"TOOLBAR" : {
		"BACKGROUNDIMAGE" : "common/images/bg_toolbar.png",
		"VISIBLE" : false
	},
	"CONTEXT" : {
		"BACKGROUNDCOLOR":"FF534334",
		"TEXTCOLOR" : "FFFFFFFF"
	},
	"WEBVIEW" : {
		"MAXIMUMCOUNT" : 8,
		"BACKGROUNDCOLOR" : {
			"NORMAL" : "FFFFFFFF",
			"DIALOG" : "FFFFFFFF"
		},
		"DIALOGOUTSIDECOLOR" : "AA000000"
	},
	"PUSH" : {
        "URL" : "http://218.55.79.93:8390/bizpush/v150/push",
        "PRODUCTID" : "894887807839"
	}
}