{
	"DEFAULT_BAR" :
	{
		"left_toolbar" : 
		{
			"visible" : true,
			"background" : "{=ImgBaseUrl_toolbar}toolbar_bg.png",
			"buttons" : ["{leftSide.0}","{leftSide.1}", "{leftSide.2}", "{leftSide.3}", "{leftSide.4}"]
		},
		"right_toolbar" : 
		{
			"visible" : true,
			"background" : "{=ImgBaseUrl_toolbar}toobar_bg.png",
			"buttons" : ["{contents.0}","{contents.1}", "{contents.2}", "{contents.3}", "{contents.4}"]
		},
		"titlebar" : 
		{
			"visible" : true,
			"background" : "{=ImgBaseUrl_top}bg.png",
			"title" : "{leftSide}",
			"right" : ["{leftSide.0}"]
		}
	},
	"DAEOAE" :
	{	
		"inherit" : "DEFAULT_BAR",
		"callType" : "openPage",
		"url" : "login/html/TLA100.html",
		"frames" : 
		{
			"leftSide" : 
			{
				"url" : "login/html/main.html"
			},
			"contents" : 
			{
				"url" : "login/html/work.html"
			} 
		}
	}
	
}
