{
	"MN{0}" :
	{
		"callType" : "openPage",
		"url" : "MN000/html/MN{0}.html"
	},
	"MA{0}" : 
	{
		"callType" : "openPage",
		"url" : "MA000/html/MA{0}.html"
	},
	"FW{0}" : 
	{
		"callType" : "openPage",
		"url" : "FW000/html/FW{0}.html"
	},
	"BD{0}" : 
	{
		"callType" : "openPage",
		"url" : "BD000/html/BD{0}.html"
	},
	"MS{0}" : 
	{
		"callType" : "openPage",
		"url" : "MS000/html/MS{0}.html"
	},
	"PI{0}" : 
	{
		"callType" : "openPage",
		"url" : "PI000/html/PI{0}.html"
	},
	"PL{0}" : 
	{
		"callType" : "openPage",
		"url" : "PL000/html/PL{0}.html"
	},	
	"CM{0}" : 
	{
		"callType" : "openPage",
		"url" : "CM000/html/CM{0}.html"
	}	
}